@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --background-color: #ffffff;
  --primary-color: #8350E6;
  --hover-background-color: #F3EEFC;
  --hover-primary-color: #47279B;
  --font-color: #3E4047;
  --transition-02: all 0.2s ease;
  --transition-03: all 0.3s ease;
  --transition-04: all 0.4s ease;
  --transition-05: all 0.5s ease;
  --font-family: 'Quicksand';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
html,body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  padding: 
  env(safe-area-inset-top) 
  env(safe-area-inset-right) 
  env(safe-area-inset-bottom) 
  env(safe-area-inset-left);
}
